
/*
.delivery-man{
  width: 600px;
  height: 450px;
  float: right;
}

.paragraph-container{
  padding-top: 5%;
}

.paragraph-head p {
  font-size: 3.0em;
  margin: 8px 0px;
}

.paragraph{
  padding: 25px 0px;
  width: 50%;
  font-size: 1.8em;
}

.main-button{
  padding: 10px 90px;
  font-size: 1.6em;
  background-color: #FD9F13;
  border: 0;
  border-radius: 10px;
  color: #fff;
  
}
*/


