.footer-container{
    background-color: #403F3D;
    color: white;
    
}

.upper-footer{
    padding: 0 8%;
    
    line-height: normal;
    border-bottom: 1.5px solid gray;
}

/*
.right-footer-icon img{
    float: right;
    margin-left: 5%;
}


.footer-icon img{
    margin-right: 2%;
}

.lower-footer p{
    font-size: 1.3em ;
    color: gray;
    margin-top: 2%;
    padding-bottom: 5%;
    margin-bottom: 0%;
}

.lower-footer{
    padding-top: 2%;
}*/

