.padding-container{
  padding: 0 8%;
  padding-top: 3%;
}

.font-family{
  font-family: Noto Serif KR;
}

.navbar {
  background-color: #fadba22d;
  
  }



  
  header {
    margin: 12px 0 !important;
  }
  
  .menuImg, .menuBar {
    display: flex !important;
    align-items: center;
  }

  /* .menuBar{
    
    flex: 100%;
    max-width: 100%;
 
  } */
  
  .menuBarInner {
    position: relative;
    max-width: 100%;
    margin: unset;
  }
  
  .headerUl {
    margin-bottom: 0;
    list-style-type: none;
    
  }
  
  .headerUl li {
    display: inline-block;
    margin-left: 100px;
    
  }
  
  .headerUl li a {
    font-size: 20px;
    color: #252531;
    
  }
  
  .headerUl li a:hover, .headerUl li a.actives {
    color: #FD9F13;
    font-weight: 600;
  }
  
  ul.headerUl{
    display: inline-block;
  }

  @media screen and (max-width: 1265px) {
    .headerUl li {
      display: inline-block;
      margin-left: 60px;
      
    }
  }
  
  @media screen and (max-width: 992px) {
    .headerUl li a {
      font-size: 16px;
      color: #252531;
      
    }
  
    ul.headerUl li {
      display: block;
      width: 100%;
      text-align: left;
      margin: 0;
      padding: 8px 50px;
      
    }
  
    ul.headerUl li a {
      color: white;
      text-align: left;
      padding: 7px 20px;
    }
  
    ul.headerUl li:first-child a{
      opacity: 0;
    }
  
    .imgBar{
      text-align: center;
    }


   }  /* media end */

   .footer-hover{
     color:white;
   }

   .footer-hover:hover{
     color: #FD9F13;
   }

   /* .header-sec-nav{
     display: contents;
   }

 

   .products-hover:hover{
     color: red !important;
   } */
  
