@media only screen and (min-width:750px){
    .Collapsible{
        background-color: white;
        cursor: pointer;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        font-size: 1.9em;
        padding-top: 2%;
    }
}

@media only screen and (max-width:750px){
    .Collapsible{
        background-color: white;
        cursor: pointer;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        font-size: 1.4em;
        padding-top: 2%;
    }
}

.openclose-container{
    
    font-weight: bold;
    
}

/*.question-header{
    text-align: center;
    font-size: 3.0em;
}

.question-container{
    padding: 0 8%;
    padding-bottom: 8%;
}

.content{
    color: rgb(146, 146, 146);
    padding-top: 2%;
    border-bottom: 1px solid rgb(196, 196, 196);
   
}

.content-display{
    
    color: rgb(146, 146, 146);
    padding-top: 2%;
    border-bottom: 1px solid rgb(196, 196, 196);
}*/
